In [38]:
from datetime import datetime

In [ ]:
import pandas as pd, numpy as np

In [5]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [12]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2023, 1, 19, 13, 10, 28, 572747)

In [14]:
now.year, now.month, now.day

(2023, 1, 19)

In [16]:
datetime(2011,1,7) - datetime(2008,6,24,8,15)

datetime.timedelta(days=926, seconds=56700)

In [20]:
val = datetime(2011,1,3)

format codes

In [21]:
val.strftime('%Y')

'2011'

In [22]:
val.strftime('%m')

'01'

In [23]:
val.strftime('%Y-%m-%d')

'2011-01-03'

converting strings to time

In [24]:
value = '2011-01-03'

In [26]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [39]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
     datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [40]:
ts = pd.Series(np.random.randn(6), index= dates)

In [45]:
ts

2011-01-02   -1.704006
2011-01-05   -0.949628
2011-01-07   -0.376508
2011-01-08   -0.471819
2011-01-10   -1.030980
2011-01-12    0.210950
dtype: float64

In [49]:
ts + ts[::2]

2011-01-02   -3.408011
2011-01-05         NaN
2011-01-07   -0.753016
2011-01-08         NaN
2011-01-10   -2.061960
2011-01-12         NaN
dtype: float64

In [46]:
ts[::2]

2011-01-02   -1.704006
2011-01-07   -0.376508
2011-01-10   -1.030980
dtype: float64

In [50]:
ts

2011-01-02   -1.704006
2011-01-05   -0.949628
2011-01-07   -0.376508
2011-01-08   -0.471819
2011-01-10   -1.030980
2011-01-12    0.210950
dtype: float64

In [51]:
ts.index[2]

Timestamp('2011-01-07 00:00:00')

In [54]:
pd.date_range

<function pandas.core.indexes.datetimes.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize: 'bool' = False, name: 'Hashable' = None, closed: 'str | None | lib.NoDefault' = <no_default>, inclusive: 'str | None' = None, **kwargs) -> 'DatetimeIndex'>

In [55]:
pd.date_range(start= datetime.now(), periods = 20)

DatetimeIndex(['2023-01-19 16:08:26.752286', '2023-01-20 16:08:26.752286',
               '2023-01-21 16:08:26.752286', '2023-01-22 16:08:26.752286',
               '2023-01-23 16:08:26.752286', '2023-01-24 16:08:26.752286',
               '2023-01-25 16:08:26.752286', '2023-01-26 16:08:26.752286',
               '2023-01-27 16:08:26.752286', '2023-01-28 16:08:26.752286',
               '2023-01-29 16:08:26.752286', '2023-01-30 16:08:26.752286',
               '2023-01-31 16:08:26.752286', '2023-02-01 16:08:26.752286',
               '2023-02-02 16:08:26.752286', '2023-02-03 16:08:26.752286',
               '2023-02-04 16:08:26.752286', '2023-02-05 16:08:26.752286',
               '2023-02-06 16:08:26.752286', '2023-02-07 16:08:26.752286'],
              dtype='datetime64[ns]', freq='D')

In [56]:
t = pd.Series(np.random.randn(4), index= pd.date_range('1/1/2000',
                                                      periods= 4,
                                                       freq= 'M'))
t

2000-01-31    0.710581
2000-02-29   -0.516907
2000-03-31    0.086907
2000-04-30   -0.192890
Freq: M, dtype: float64

In [58]:
t.shift(1)

2000-01-31         NaN
2000-02-29    0.710581
2000-03-31   -0.516907
2000-04-30    0.086907
Freq: M, dtype: float64

In [59]:
t.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.710581
2000-04-30   -0.516907
Freq: M, dtype: float64

In [60]:
t.shift(-2)

2000-01-31    0.086907
2000-02-29   -0.192890
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [63]:
t/t.shift(1) -1

2000-01-31         NaN
2000-02-29   -1.727442
2000-03-31   -1.168128
2000-04-30   -3.219508
Freq: M, dtype: float64

In [65]:
t

2000-01-31    0.710581
2000-02-29   -0.516907
2000-03-31    0.086907
2000-04-30   -0.192890
Freq: M, dtype: float64

In [64]:
t.shift(2, freq='M')

2000-03-31    0.710581
2000-04-30   -0.516907
2000-05-31    0.086907
2000-06-30   -0.192890
Freq: M, dtype: float64

In [67]:
t.shift(1, freq= '90T')

2000-01-31 01:30:00    0.710581
2000-02-29 01:30:00   -0.516907
2000-03-31 01:30:00    0.086907
2000-04-30 01:30:00   -0.192890
dtype: float64

In [72]:
from pandas.tseries.offsets import Day, MonthEnd

In [83]:
now = datetime.now()

In [87]:
MonthEnd().rollforward(now)

Timestamp('2023-01-31 10:35:05.902443')

In [89]:
MonthEnd().rollback(now)

Timestamp('2022-12-31 10:35:05.902443')

In [90]:
t = pd.Series(np.random.randn(20), index = pd.date_range('1/15/2000',
                                                        periods = 20, freq='4d'))
t

2000-01-15    0.145288
2000-01-19   -2.177167
2000-01-23   -0.575411
2000-01-27    0.242855
2000-01-31   -0.387328
2000-02-04    0.194685
2000-02-08   -0.601989
2000-02-12   -0.576141
2000-02-16   -1.040851
2000-02-20    0.566151
2000-02-24   -0.264965
2000-02-28   -0.215956
2000-03-03    0.216663
2000-03-07   -1.756334
2000-03-11   -0.141429
2000-03-15   -0.760571
2000-03-19   -0.510302
2000-03-23    1.632579
2000-03-27    1.318771
2000-03-31   -1.083506
Freq: 4D, dtype: float64

In [91]:
offset = MonthEnd()

In [95]:
t.groupby(offset.rollforward).mean()

2000-01-31   -0.550353
2000-02-29   -0.277010
2000-03-31   -0.135516
dtype: float64

In [96]:
import pytz

In [104]:
pytz.common_timezones[:5]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara']

In [111]:
tz = pytz.timezone('US/Eastern')

In [117]:
r = pd.date_range('3/9/2012 9:30', periods = 6, freq = 'D')
t = pd.Series(np.random.randn(len(r)), index = r)

In [118]:
t

2012-03-09 09:30:00   -1.508262
2012-03-10 09:30:00    0.228401
2012-03-11 09:30:00    0.292425
2012-03-12 09:30:00   -0.360082
2012-03-13 09:30:00   -1.264398
2012-03-14 09:30:00   -0.369862
Freq: D, dtype: float64

In [125]:
print(r.tz) # print time zone of created time

None

In [124]:
print(t.index.tz)

None

In [129]:
# 
'1. create the series with the timezone set'
pd.date_range('3-9-2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [130]:
'2. add timezone with .tz_localize'
t_utc = t.tz_localize('UTC')
t_utc

2012-03-09 09:30:00+00:00   -1.508262
2012-03-10 09:30:00+00:00    0.228401
2012-03-11 09:30:00+00:00    0.292425
2012-03-12 09:30:00+00:00   -0.360082
2012-03-13 09:30:00+00:00   -1.264398
2012-03-14 09:30:00+00:00   -0.369862
Freq: D, dtype: float64

In [131]:
t_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [135]:
'timezone can be converted with .tz_convert'
t_utc.tz_localize('US/Eastern') # using .tz_localize will throw error

TypeError: Already tz-aware, use tz_convert to convert.

In [138]:
t_utc.tz_convert('US/Eastern').index

DatetimeIndex(['2012-03-09 04:30:00-05:00', '2012-03-10 04:30:00-05:00',
               '2012-03-11 05:30:00-04:00', '2012-03-12 05:30:00-04:00',
               '2012-03-13 05:30:00-04:00', '2012-03-14 05:30:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='D')

In [143]:
pd.Timestamp('2011-03-12 0:01:00')

Timestamp('2011-03-12 00:01:00')

In [144]:
pd.Period(2007, freq='A-DEC')

Period('2007', 'A-DEC')

In [147]:
pd.period_range('1/1/2000', '6/30/2000', freq="M")

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [149]:
pd.Period('2007', freq= 'A-DEC').asfreq('M', how= 'start')

Period('2007-01', 'M')