In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

1. Write a Pandas program to create
    * Datetime object for Jan 15 2012.
    * Specific date and time of 9:20 pm.
    * Local date and time.
    * A date without time.
    * Current date.
    * Time from a datetime.
    * Current local time.

In [ ]:
a = datetime(2015,12,1)

In [9]:
b = datetime(2015,12,1,21,20)
print('hour:',b.hour)
print('minute:',b.minute)

21
20

In [36]:
# c.
print('local_datetime:',datetime.now())

local_datetime: 2023-01-23 11:14:45.066445

In [18]:
# d. 
d = datetime(2015,12,3)
d.strftime('%Y/%m/%d')

'2015/12/03'

In [30]:
# e.
now = datetime.now()
print('current date:',now.year,now.month,now.day)
print('current date:',now.date())

current date: 2023 1 23
current date: 2023-01-23

In [37]:
# f.
f = datetime(2015,12,1,21,20)
print(f.time())

21:20:00

In [39]:
# g.
now = datetime.now()
print('current_local_time:',now.time())

current_local_time: 11:16:18.098601

2. Write a Pandas program to create Go to the editor
    * a specific date using timestamp.
    * date and time using timestamp.
    * a time adds in the current local date using timestamp.
    * current date and time using timestamp.

In [44]:
# a.
pd.Timestamp('2021-09-11').date()

datetime.date(2021, 9, 11)

In [45]:
# b.
pd.Timestamp('2021/09/11 12:00')

Timestamp('2021-09-11 12:00:00')

In [47]:
# c. 
pd.Timestamp('2:45')

Timestamp('2023-01-23 02:45:00')

In [48]:
# d.
pd.Timestamp('now')

Timestamp('2023-01-23 11:35:27.241018')

3. Write a Pandas program to create a date from a given year, month, day and another date from a given string formats

In [ ]:
year,month,day = input('enter year: '),input('enter month: '), input('enter day: ')
d = year+'-'+month+'-'+day

In [57]:
print(datetime.strptime(d,'%Y-%m-%d').date())
print(pd.Timestamp(d).date())

2011-09-08
2011-09-08

In [65]:
from dateutil.parser import parse
parse('1 oct 2023')

datetime.datetime(2023, 10, 1, 0, 0)

Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates

In [72]:
pd.date_range(start = datetime.now(), end = datetime(day=25, month=2, year=2023))

DatetimeIndex(['2023-01-23 13:04:50.157266', '2023-01-24 13:04:50.157266',
               '2023-01-25 13:04:50.157266', '2023-01-26 13:04:50.157266',
               '2023-01-27 13:04:50.157266', '2023-01-28 13:04:50.157266',
               '2023-01-29 13:04:50.157266', '2023-01-30 13:04:50.157266',
               '2023-01-31 13:04:50.157266', '2023-02-01 13:04:50.157266',
               '2023-02-02 13:04:50.157266', '2023-02-03 13:04:50.157266',
               '2023-02-04 13:04:50.157266', '2023-02-05 13:04:50.157266',
               '2023-02-06 13:04:50.157266', '2023-02-07 13:04:50.157266',
               '2023-02-08 13:04:50.157266', '2023-02-09 13:04:50.157266',
               '2023-02-10 13:04:50.157266', '2023-02-11 13:04:50.157266',
               '2023-02-12 13:04:50.157266', '2023-02-13 13:04:50.157266',
               '2023-02-14 13:04:50.157266', '2023-02-15 13:04:50.157266',
               '2023-02-16 13:04:50.157266', '2023-02-17 13:04:50.157266',
               '2023-02-18 13:04:50.157266', '2023-02-19 13:04:50.157266',
               '2023-02-20 13:04:50.157266', '2023-02-21 13:04:50.157266',
               '2023-02-22 13:04:50.157266', '2023-02-23 13:04:50.157266',
               '2023-02-24 13:04:50.157266'],
              dtype='datetime64[ns]', freq='D')

In [84]:
start = datetime.now()
end = datetime(2023,2,25)
end - start

datetime.timedelta(days=32, seconds=38179, microseconds=354517)

In [85]:
print('Tomorrow:',pd.Timestamp('now') + pd.Timedelta(days = 1))
print('Yesterday:',pd.Timestamp('now') - pd.Timedelta(days = 1))

Tomorrow: 2023-01-24 13:25:27.468363
Yesterday: 2023-01-22 13:25:27.469364

In [1]:
import numpy as np
from sklearn.model_selection import TimeSeriesSplit